html {
    margin: -5px;
}

body {
    background-color: #1D2A35;
    color: rgb(0, 217, 255);
}

.box1 {
    height: 60vh;
    background-color: black;
    text-align: center;
}

.name,
.present {
    color: white;
    text-align: center;
    position: relative;
    top: 35%;
}

.box2 {
    display: flex;
    flex-direction: row;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: -15px;
}

.quote {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 30%;
    display: inline;
    width: 60vh;
    left: 10%;
    font-weight: bold;
    font-size: 30px;
    color: rgb(107, 107, 107);
}

.by {
    display: inline;
    top: 68%;
    position: relative;
    color: rgb(180, 181, 182);
}

img {
    filter: drop-shadow(5px 15px 10px rgb(0, 0, 0));
    left: 10%;
    position: relative;
}

.box3 {
    height: 60vh;
    background-color: black;
    color: white;
}

.bio-title {
    position: relative;
    top: 5%;
    left: 25%;
}

.bio {
    font-size: 20px;
    position: relative;
    left: 25%;
    top: 7%;
    width: 80vh;
    line-height: 25px;
    word-spacing: 5px;
    font-weight: thin;
    font-size: 18px;
}

hr {
    width: 60%;
    position: relative;
    top: 10%;
}

.footer {
    position: relative;
    top: 15%;
    left: 40%;
    font-size: 15px;
}